.songlistMalayalam {
    font-family:'helveticaneue-light';

}

.songlistmain {
    font-family:'helveticaneue-light';
}

.langHead {
 margin: 10px;
 padding: 10px;
 /* visibility: hidden; */
}

.langHead a {
    font-family:'helveticaneue-light'
}

.lyricview {
    /* width:800px; */
    padding-left:50px;
    font-size:14pt;
    font-family:'helveticaneue-light';
}

