body {
    /* background-image: url("../img/bg-1.jpg"); */
    background-color: #ffffff;
  }

.songlistMalayalam {
    font-family:'helveticaneue-light';

}


.songlistMalayalam ol{
    padding-inline-start: 10px;
    margin-top: 20PX;
}

.songlistMalayalam li {
    padding: 7px 0px 7px 0px;
    margin: 9px 0px;;

}

.songlistmain {
    font-family:'helveticaneue-light';
}

.langHead {
 margin: 10px;
 padding: 10px;
 /* visibility: hidden; */
}

.langHead a {
    font-family:'helveticaneue-light'
}

lyricHead {

}

.lyricview {
    /* width:800px; */
    padding-left:50px;
    font-size:14pt;
    font-family:'helveticaneue-light';

    background: #fffbe6;
    /* font-family: 'georgia', serif; */
    border: 1px solid #dcd2a3;
    padding: 20px 40px;

    line-height: 1.6;
    border-radius: 8px;
}

