.songlistMalayalam {
    font-family:'helveticaneue-light';

    font-size:14pt
}

.songlistmain {
    font-family:'helveticaneue-light';
}

.langHead {
 margin: 10px;
 padding: 10px;
}

.langHead a {
    font-family:'helveticaneue-light'
}
